/* Gridview */

.summary {
    width: 100%;
    text-align: right;
    font-size: 14px;
}


/* CSS PAGINACION GRIDVIEW */

.gridview-pagination {
    height: 36px;
    margin: 0px 0;
    width: 100%;
}
.gridview-pagination ul {
    display: inline-block;
    display: inline;
    zoom: 1;
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
    float: unset;
}
.gridview-pagination li {
    display: inline;
}
.gridview-pagination a,
.gridview-pagination span {
    float: left;
    padding: 0 14px;
    line-height: 26px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 1px;
}
.gridview-pagination a:hover,
.gridview-pagination .active a,
.gridview-pagination .active span {
    background-color: #f5f5f5;
}
.gridview-pagination .selected a,
.gridview-pagination .selected span {
    color: #5d6368;
    cursor: default;
    background-color: #EFEFEF;
}
.gridview-pagination .hidden span,
.gridview-pagination .hidden a,
.gridview-pagination .hidden a:hover {
    color: #999;
    background-color: transparent;
    cursor: default;
}
.gridview-pagination li:first-child a,
.gridview-pagination li:first-child span {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.gridview-pagination li:last-child a,
.gridview-pagination li:last-child span {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.gridview-pagination-centered ul {
    text-align: center;
}
.gridview-pagination-right ul {
    text-align: right;
}
/*


/* Form */

.required span {
    color: #E20F0F;
}
.errorMessage {
    color: #E20F0F;
}


/* CSS zii.widgets.CMenu  */

.cmenuhorizontal {    
    list-style: none;
    width: auto;
}

.cmenuhorizontal li {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
}   

.cmenuhorizontal {    
    list-style: none;
    width: auto;
}

.cmenuhorizontal li.bottom {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
}  



.menu-tool {
    float: right; 
    position: absolute; 
    top: 8px; 
    right: 100px;
    display: inline-block;
}

.menu-tool .menu-items {
    float: right;
}

.menu-tool .pagesize {
    float: right;
 
}

.menu-tool-all {
     float: right; 
    position: absolute; 
    top: 8px; 
    right: 20px;
    display: inline-block;  
}



#login-wrapper input {
    padding-left: 32px;
}